.jumbotron {
  background-color: ghostwhite;
}

.custom-button.btn {
  background-color: crimson;
  color: #fff;
  border: none;
}

.hero {
  width: 100vw;
  height: 50vh;
}

.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
